@import "tailwindcss";
.rotated-black {
  position: absolute;
  width: 1200px;
  height: 400px;
  background-color: black;
  top: -200px;
  left: -600px;
  transform: rotate(-9.67deg);
  z-index: 0;
}